{# Load the tag library #} 
{% load bootstrap3 %} 

{# Load CSS and JavaScript #} 
{% bootstrap_css %} 
{% bootstrap_javascript jquery=True %} 

{% load static %}
<html>

<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租借服務</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block header %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SE3 借東西大會</a>
            </div>
            <form class="user-brand">
                {% if request.user.is_authenticated %}
                	{{request.user.username}} 您好
                	<a class="user-small" href="{% url 'logout' %}">切換帳號</a>
				{% else %}
					<a class="user-small" href="{% url 'login' %}">Sign in</a>
				{% endif %}
            </form>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">首頁 <span class="sr-only">(current)</span></a></li>
                    <li><a data-category="borrow" href="/borrow/">租借Sim卡</a></li>
                    <li><a data-category="sim" href="/sim/">Sim卡總覽</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/">首頁 <span class="sr-only">(current)</span></a></li>
                <li><a data-category="borrow" href="/borrow/">租借Sim卡</a></li>
                <li><a data-category="sim" href="/sim/">Sim卡總覽</a></li>
            </ul>
            <ul class="nav nav-sidebar hidden">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
            </ul>
        </div>
        <div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            var current = location.pathname;
            $('#sidebar ul.nav li').removeClass('active');
            $('#navbar ul.navbar-right li').removeClass('active');

            $('#navbar ul.navbar-right li a').each(function(){
                var $this = $(this);
                // if the current path is like this link, make it active
                if(current.indexOf($this.data('category')) !== -1){
                    $this.parent().addClass('active');
                    return false;
                }
            });

            $('#sidebar ul.nav li a').each(function(){
                var $this = $(this);
                // if the current path is like this link, make it active
                if(current.indexOf($this.data('category')) !== -1){
                    $this.parent().addClass('active');
                    return false;
                }
            });
            
            if($('#navbar ul.navbar-right li.active').length < 1)
            {
                $('#navbar ul.navbar-right li:first').addClass('active');
            }

            if($('#sidebar ul.nav li.active').length < 1)
            {
                $('#navbar ul.navbar-right li:first').addClass('active');
                $('#sidebar ul.nav li:first').addClass('active');
            }


        })
    </script>
    <script type="text/javascript">
        $(function(){
            $( ".datepicker" ).datepicker({
                format: "yyyy/mm/dd",
                startDate: "2017/07/06",
                endDate: "2018/07/06",
                todayBtn: "linked",
                language: "zh-TW",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.js" type="text/javascript"> </script>
    <script src="{% static 'js/moment.js' %}" type="text/javascript"> </script>
    <script src="{% static 'js/moment-with-locales.js' %}" type="text/javascript"> </script>
</body>

</html>
