{% extends "_base.html" %} 

{# Load the tag library #} 
{% load bootstrap3 %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "star" %} Sim卡總覽 </h1>
<div>
    <a id="add_row" class="btn btn-default pull-right" href="{% url 'sim:sim_new' %}">新增一筆</a>
</div>
<div>
    <table class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>Sim卡號碼</th>
                <th>用途</th>
                <th>電信商</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for sim in sim_cards %}
            <tr>
                <td><a target="blank" href="{% url 'sim:sim_update' sim.sim_id %}">{{sim.number}}</a></td>
                <td>{{sim.get_status_display}}</td>
                <td>{{ sim.get_operate_display }}</td>

                <td>
                    <a class="btn" href="{% url 'sim:sim_update' sim.sim_id %}">
                        <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>
                    <a class="btn" href="{% url 'sim:sim_delete' sim.sim_id %}">
                        <button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
